.git
.github
.env
.env.*
!.env.example
node_modules
vendor
database/*.sqlite*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
public/build
public/hot
public/storage
tests
.phpunit.cache
*.log
.DS_Store
Homestead.json
Homestead.yaml
