---
layout: default
title: "Enlaces de Interes"
---

<section>
    <div class="mt-[81px] px-4 pt-4 mx-auto max-w-screen-xl text-center">
        <h1 class="text-4xl font-extrabold tracking-tight dark:text-white leading-none md:text-5xl">
            Enlaces de interés
        </h1>
    </div>
</section>

<div class="mx-11 mt-6 mb-4">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-4">
            {% for enlace in site.data.enlaces_de_interes %}
                {% include enlace_de_interes.liquid title=enlace.title url=enlace.url %}
            {% endfor %}
        </div>
    </div>
</div>
