<div class="p-4 md:p-7 bg-white border-black dark:bg-gray-800 dark:border-gray-700 rounded-lg flex items-center justify-center">
    <figure>
        <div class="mx-auto size-[100px]">
            <img class="mx-auto my-auto" src="/assets/img/clients/{{ include.img }}" width="100px" height="100px">
        </div>
        <figcaption class="text-black dark:text-white">{{ include.name }}</figcaption>
    </figure>
</div>
