<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <div class="w-[159.89px] h-16 bg-no-repeat bg-contain bg-[url('/assets/img/big_logo.png')] dark:bg-[url('/assets/img/big_logo_white.png')]"></div>
            </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Dirección</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://maps.app.goo.gl/mT3PAXZ5ErZQHiaG9" class="hover:underline">Carrera 20 #25-04</a>
                      </li>
                      <li>
                          <h4>Villavicencio, Meta</h4>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Soporte y contacto:</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://wa.me/+573202497418" class="hover:underline">Cel: 320 249 7418</a>
                        </li>
                        <li>
                            <a href="https://wa.me/+573125863064" class="hover:underline ">Cel: 312 586 3064</a>
                        </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ 'now' | date: "%Y" }} <a href="https://ideal-10.com" class="hover:underline">Ideal S.A.S</a>. All Rights Reserved.
          </span>
      </div>
    </div>
</footer>
