@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../_includes/**/*.{html,njk,svg}";
@source "../../_layouts/**/*.html";
@source "../../*.html";
@source "../../componentes/**/*.md";
@source "../../menu_entidades/**/*.html";

.\[backdrop-filter\:blur\(8px\)\] {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/* Centrar imágenes dentro de prose */
.prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

